# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_TIDBIT

config ZMK_KEYBOARD_NAME
	default "TIDBIT_DEFAULT"

endif

if SHIELD_TIDBIT_19

config ZMK_KEYBOARD_NAME
	default "TIDBIT_19"

endif
