# Copyright (c) 2021 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_7SKB_LEFT
	def_bool $(shields_list_contains,7skb_left)

config SHIELD_7SKB_RIGHT
	def_bool $(shields_list_contains,7skb_right)
