/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
	keymap {
		compatible = "zmk,keymap";

		default_layer {
			bindings = <
&kp INSERT &kp HOME &kp PAGE_UP
&kp DELETE &kp END  &kp PAGE_DOWN
           &kp UP
&kp LEFT   &kp DOWN &kp RIGHT
			>;
		};
	};
};
